body {
	margin: 0px;
	background: url("imgs/bg.png") repeat scroll 0% 0% rgb(71, 71, 71);
	padding: 0px 5px 5px 5px;
}

nav {
	background-color: #aaeeff;
	background-attachment: fixed;
	/* Navigateurs récents */
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#aaeeff),
		to(rgba(51,153,204,0.2)),
		color-stop(0.70, #77CCD3),
		color-stop(0.75, rgba(119,204,211,0.8))
	);
	background: -webkit-linear-gradient( top, #aaeeff, #77CCD3 70%, rgba(119,204,211,0.8) 75%, rgba(51,153,204,0.2) );
	background: -moz-linear-gradient( top, #aaeeff, #77CCD3 70%, rgba(119,204,211,0.8) 75%, rgba(51,153,204,0.2) );
	background: -o-linear-gradient( top, #aaeeff, #77CCD3 70%, rgba(119,204,211,0.8) 75%, rgba(51,153,204,0.2) );
	background: linear-gradient( top, #aaeeff, #77CCD3 70%, rgba(119,204,211,0.8) 75%, rgba(51,153,204,0.2) );
	padding: 5px;
	padding-bottom: 15px;
	margin: 0px -5px 0px -5px;
	text-shadow: 1px 0px 1px #CCCCCE, -1px 0px 1px #CCCCCE, 0px 1px 1px #CCCCCE, 0px -1px 1px #CCCCCE;
}

nav a {
	color: #0000EE;
}

h1 {
	text-shadow: 1px 0px 5px #CCCCCE, -1px 0px 5px #CCCCCE, 0px 1px 5px #CCCCCE, 0px -1px 5px #CCCCCE;
}

form {
	background-color: rgba(220,220,220,0.5);
	border-radius: 10px;
	padding: 10px;
	width: inherit;
	margin: 10px;
	border-style: solid;
	border-color: #8DC5FF;
	display:table;
	box-shadow: 0px 0px 10px rgba(204,204,206,0.5);
}

form div.buttons {
	margin: auto;
	display:table;
}

li {
	background-color: grey;
	margin-bottom: 3px;
	padding: 2px;
	padding-left: 10px;
	border-radius: 10px;
}

div.term {
	background-color: black;
	box-shadow: 0px 0px 5px 3px #8DC5FF, inset 0px 0px 5px 3px green;
	border-radius: 5px;
	border-width: 2px;
	padding: 5px;
	color: green;
	max-width:700px;
}

div.line {
	color: white;
	display: inline;
}

.del {
    width: 20px;
    height:20px;
    vertical-align:middle;
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-webkit-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	background:-o-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	background:-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	background-color:#fe1a00;
	border-radius:15px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align : center;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}.del:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-webkit-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	background:-o-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	background:-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	background-color:#ce0100;
}.del:active {
	position:relative;
	top:1px;
}